PORT=5000
MONGODB_URI=mongodb+srv://solomonnee02:LJUvVUIpqGFHFAkY@cluster0.ro5xa0w.mongodb.net/coinbase-cloned-db?appName=Cluster0s
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NODE_ENV=production
